:root {
  --dark-teal: #00343e;
  --light-teal: #a5e1d2;
  --light-teal-80: rgba(165, 225, 210, 0.8);
  --white: #ffffff;
  --white-two: #d8d8d8;
  --white-three: #f5f5f5;
  --bluey-green: #28b482;
  --bright-orange: #ff5400;
  --light-yellow: #ffff7a;
}
