input[type="text"]::placeholder {
  color: #fff;
  font-style: italic;
}

textarea[type="text"]::placeholder {
  color: #fff;
  font-style: italic;
  font-family: FedraSansLight;
}

.Title {
  width: 472px;
  height: 66px;
  font-size: 40px;
  border: solid 1px #979797;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}

.Description {
  width: 472px;
  height: 187px;
  font-size: 16px;
  font-family: Arial;
  padding: 10px;
  border: solid 1px #979797;
  color: #fff; 
  background-color: rgba(0, 0, 0, 0);
}

.LookingFor {
  width: 472px;
  height: 40px;
  font-size: 18px;
  font-family: FedraSansLight;
  padding: 10px;
  border: solid 1px #979797;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}

.GreenBox: {
      width: 552px;
      height: 654px;
      padding-top: 20px;
      margin-top: 10px;
      border: solid 1px var(--bluey-green);
}

@media (min-width: 360px) {
  .Title {
    width: 300px;
    height: 46px;
    font-size: 32px;    
  }
  .Description {
    width: 300px;
    height: 150px;
  }
  .LookingFor {
    width: 300px;
    font-size: 16px;
  }
  .GreenBox {
    width: 380px;
    height: 654px;
    padding-top: 20px;
    margin-top: 10px;
    border: solid 1px var(--bluey-green);
  }
}

@media (min-width: 768px) {
  .Title {
    width: 372px;
    height: 56px;
    font-size: 36px; 
  }
  .Description {
    width: 372px;
  }
  .LookingFor {
    width: 372px;
  }
  .GreenBox {
    width: 452px;
    height: 654px;
    padding-top: 20px;
    margin-top: 10px;
    border: solid 1px var(--bluey-green);
  }
}

@media (min-width: 992px) {
  .Title {
    width: 372px;
    height: 56px;
    font-size: 36px;
  }
  .Description {
    width: 372px;
  }
  .LookingFor {
    width: 372px;
  }
  .GreenBox {
    width: 452px;
    height: 654px;
    padding-top: 20px;
    margin-top: 10px;  
    border: solid 1px var(--bluey-green);
  }
}

@media (min-width: 1200px) {
  .Title {
    width: 472px;
    height: 66px;
    font-size: 40px;
  }
  .Description {
    width: 472px;
  }
  .LookingFor {
    width: 472px;
  }
  .GreenBox {
    width: 552px;
    height: 654px;
    padding-top: 20px;
    margin-top: 10px;
    border: solid 1px var(--bluey-green);
  }
}