input[type="text"]::placeholder {
  color: grey;
  font-style: italic;
}

textarea[type="text"]::placeholder {
  color: grey;
  font-style: italic;
  font-family: FedraSansLight;
}

.Title {
  width: 98%;
  height: 46px;
  font-size: 40px;
  border: solid 1px #979797;
  padding: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 40px;
}

.Description {
  width: 90%;
  height: 150px;
  font-size: 16px;
  font-family: Arial;
  padding: 10px;
  border: solid 1px #979797;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}

.UpdateTitle {
  width: 100%;
  height: 46px;
  font-size: 30px;
  border: solid 1px #979797;
  padding: 10px;
  color: #fff;
  background-color: white;
}

.UpdateDescription {
  width: 100%;
  height: 220px;
  font-size: 16px;
  font-family: Arial;
  padding: 10px;
  color: #fff;
  background-color: white;
}


.LookingFor {
  width: 100%;
  height: 40px;
  font-size: 18px;
  font-family: FedraSansLight;
  padding: 10px;
  margin-left: 20px;
  border: solid 1px #979797;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}

.inputTextBox {
  width: 90%;
  border: solid 1px #979797;
  padding: 10px;
  color: #fff;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0);
}

@media (min-width: 360px) {
  .Title {
    font-size: 32px;
  }
  .Description {
  }
  .LookingFor {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .Title {
    font-size: 36px;
  }
  .Description {
  }
  .LookingFor {
  }
}

@media (min-width: 992px) {
  .Title {
    font-size: 36px;
  }
  .Description {

  }
  .LookingFor {
  }
}

@media (min-width: 1200px) {
  .Title {
    font-size: 36px;
  }
  .Description {
    
  }
  .LookingFor {
  }
  .inputTextBox {

  }
}
