@import "./colors.css";
.Logo {
  height: 40px;
}

.App-title {
  margin-top: 40px;
}

.App-header {
  height: 80px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.Content {
  width: 100%;
  flex: display;
  justify-content: center;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.SeeThroughBtn {
  border: solid var(--white-two) 3px;
  box-shadow: 1px 4px 1px 0px rgba(0, 0, 0, 0.5);
  background: none;
  color: white;
  padding-top: 10px;
  width: inherit;
  height: 100%;
  text-align: center;
  transition: 0.2s;
}

.SeeThroughBtn:hover {
  background: var(--white-two);
  color: var(--dark-teal);
  cursor: pointer;
}

.LogInBtn {
  border: solid var(--dark-teal) 2px;
  background: none;
  color: var(--dark-teal);
  width: 100px;
  height: 50px;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
}

.LogInBtn:hover {
  background: var(--dark-teal);
  color: var(--white);
}

.Center {
  max-width: 300px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .Center {
    max-width: 300px;
    margin: 0 auto;
  }
  .Logo {
    height: 60px;
  }

}

@media (min-width: 768px) {
  .Center {
    max-width: 700px;
    margin: 0 auto;
  }
  .Logo {
    height: 80px;
  }
}

@media (min-width: 992px) {
  .Center {
    max-width: 1000px;
    margin: 0 auto;
  }
  .Logo {
    height: 80px;
  }
}

@media (min-width: 1200px) {
  .Center {
    max-width: 1000px;
    margin: 0 auto;
  }
  .Logo {
    height: 80px;
  }
}
