.currentStateContainer {
  padding-left: 5%;
  padding-right: 5%;
  border-top: 2px solid #f6f8fa;
  padding-bottom: 5vh;
  padding-top: 2vh;
}
.ShowLess {
  align-self: flex-end;
}

.Thumbnail {
  min-height: 300px;
  min-width: 300px;
  margin-bottom: 20px;
  background-color: var(--dark-teal);
  opacity: 0.95;
  object-fit: cover;
}
.Thumbnail:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media only screen and (min-width: 576px) {
  .Thumbnail {
    min-height: 500px;
    min-width: 500px;
    margin-bottom: 20px;
    background-color: var(--dark-teal);
    object-fit: cover;
  }
}

@media only screen and (min-width: 768px) {
  .Thumbnail {
    min-height: 280px;
    min-width: 280px;
    margin-bottom: 20px;
    background-color: var(--dark-teal);
    object-fit: cover;
  }
}

@media only screen and (min-width: 992px) {
  .Thumbnail {
    min-height: 280px;
    min-width: 280px;
    margin-bottom: 20px;
    background-color: var(--dark-teal);
    object-fit: cover;
  }
}

@media only screen and (min-width: 1200px) {
  .Thumbnail {
    min-height: 350px;
    min-width: 350px;
    margin-bottom: 40px;
    background-color: var(--dark-teal);
    object-fit: cover;
  }
}
