.description {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 90%;
  width: 90%;

  background-color: white;
  color: black;
  text-align: left;
  word-wrap: break-word;

  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  transition: opacity 1s;
  opacity: 0.5;
}

.description:hover {
  opacity: 1;
}
