@import "../resources/colors.css";
.ProjectContainer {
    margin-left: 30px;
    margin-right: 30px;
}

.ProjectCard {
  height: 300px;
  margin-bottom: 20px;
  background-color: var(--white);
}

@media only screen and (min-width: 576px) {
  .ProjectCard {
    height: 500px;
    margin-bottom: 20px;
    background-color: var(--white);
  }
}

@media only screen and (min-width: 768px) {
  .ProjectCard {
    height: 280px;
    margin-bottom: 20px;
    background-color: var(--white);
  }
}

@media only screen and (min-width: 992px) {
  .ProjectCard {
    height: 280px;
    margin-bottom: 20px;
    background-color: var(--white);
  }
}

@media only screen and (min-width: 1200px) {
  .ProjectCard {
    height: 350px;
    margin-bottom: 40px;
    background-color: var(--white);
  }
}
