@import "../resources/colors.css";

.ProjectCard {
  height: 300px;
  width: 300px;
  background-color: var(--dark-teal);
  border: solid 3px #ffffff;
  background-color: rgba(0, 52, 62, 1);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}
