.search-input {
  background: none;
  color: white;
  padding: 10px 20px;
  border: 1px solid var(--white-three);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  width: 100%;
  z-index: 1;
}

input:focus {
  outline: none;
}

.suggestions-container {
  border: 1px solid #aaa;
  background: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 10;
  color: black;
  text-align: left;
  max-height: 200px;
  overflow: auto;
}

.suggestion {
  cursor: pointer;
  padding: 20px 20px;
  color: white;
}

.suggestion:hover {
  color: black;
  background-color: #ddd;
}

.userImage {
  height: 30px;
  width: 30px;
  object-fit: cover;
  float: right;
}
.userImageBig {
  background-color: none;
  height: 80px;
  width: 80px;
  margin-left: 28px;
  margin-right: 28px;
  border-radius: 50%;
  object-fit: cover;
}
