@import "../colors.css";

@font-face {
  font-family: "FedraSans";
  src: url("fedra_sans_book-webfont.woff2") format("woff2"),
    url("fedra_sans_book-webfont.woff") format("woff");
}

@font-face {
  font-family: "FedraSansLight";
  src: url("fedra_sans_light-webfont.woff2") format("woff2"),
    url("fedra_sans_light-webfont.woff") format("woff");
}

h1 {
  font-family: FedraSans;
  font-size: 32px;
  color: #ffffff;
  color: var(--white);
}
h2 {
  font-family: FedraSansLight;
  font-size: 26px;
  font-weight: 300;
  color: #ffffff;
  color: var(--white);
}
/* h3---->subsubtitle */
h3 {
  font-family: FedraSansLight;
  font-size: 22px;
  font-weight: 300;
  color: #ffffff;
  color: var(--white);
}
/* h4---->Sign-up-Log-in */
h4 {
  font-family: FedraSansLight;
  font-size: 18px;
  color: #ffffff;
  color: var(--white);
}

/* h5---->Project name */

h5 {
  font-family: FedraSansLight;
  font-size: 18px;
  color: var(--white);
}

/* h6----> Project page sidebar subheaders*/
h6 {
  font-family: FedraSansLight;
  font-size: 16px;
}

/* project description header */
p {
  font-family: Arial;
  font-size: 14px;
  color: #00343e;
  color: var(--dark-teal);
  white-space: pre-line;
}

a {
  font-family: FedraSansLight;
  font-size: 16px;
  color: #ffffff;
  color: var(--white);
}

a:hover {
  font-family: FedraSansLight;
  font-size: 16px;
  color: #ffffff;
  color: var(--white);
}

.f18 {
  font-size: 18px;
}

@media (min-width: 360px) {
  h1 {
    font-family: FedraSans;
    font-size: 32px;
    color: #ffffff;
    color: var(--white);
  }
  h2 {
    font-family: FedraSansLight;
    font-size: 26px;
    font-weight: 300;
    color: #ffffff;
    color: var(--white);
  }
  /* h3---->subsubtitle */
  h3 {
    font-family: FedraSansLight;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
    color: var(--white);
  }
  /* h4---->Sign-up-Log-in */
  h4 {
    font-family: FedraSansLight;
    font-size: 18px;
    color: #ffffff;
    color: var(--white);
  }

  /* h5---->Project name */

  h5 {
    font-family: FedraSansLight;
    font-size: 18px;
    color: var(--white);
  }

  /* h6----> Project page sidebar subheaders*/
  h6 {
    font-family: FedraSansLight;
    font-size: 16px;
  }

  /* project description header */
  p {
    font-family: Arial;
    font-size: 14px;
    color: #00343e;
    color: var(--dark-teal);
    white-space: pre-line;
  }

  a {
    font-family: FedraSansLight;
    font-size: 16px;
    color: #ffffff;
    color: var(--white);
  }

  a:hover {
    font-family: FedraSansLight;
    font-size: 16px;
    color: #ffffff;
    color: var(--white);
  }

  .f18 {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-family: FedraSans;
    font-size: 40px;
    color: #ffffff;
    color: var(--white);
  }
  h2 {
    font-family: FedraSansLight;
    font-size: 32px;
    font-weight: 300;
    color: #ffffff;
    color: var(--white);
  }
  h3 {
    font-family: FedraSansLight;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    color: var(--white);
  }
  /* h4---->Sign-up-Log-in */
  h4 {
    font-family: FedraSansLight;
    font-size: 18px;
    color: #ffffff;
    color: var(--white);
  }

  /* h5---->Project name */

  h5 {
    font-family: FedraSansLight;
    font-size: 18px;
    color: var(--white);
  }

  /* h6----> Project page sidebar subheaders*/
  h6 {
    font-family: FedraSansLight;
    font-size: 16px;
  }

  /* project description header */
  p {
    font-family: Arial;
    font-size: 14px;
    color: #00343e;
    color: var(--dark-teal);
    white-space: pre-line;
  }

  a {
    font-family: FedraSansLight;
    font-size: 16px;
    color: #ffffff;
    color: var(--white);
  }

  a:hover {
    font-family: FedraSansLight;
    font-size: 16px;
    color: #ffffff;
    color: var(--white);
  }

  .f18 {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-family: FedraSans;
    font-size: 48px;
    color: #ffffff;
    color: var(--white);
  }
  /* h2---->subtitle */
  h2 {
    font-family: FedraSansLight;
    font-size: 36px;
    font-weight: 300;
    color: #ffffff;
    color: var(--white);
  }
  /* h3---->subsubtitle */
  h3 {
    font-family: FedraSansLight;
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
    color: var(--white);
  }
  h4 {
    font-family: FedraSansLight;
    font-size: 24px;
    color: #ffffff;
    color: var(--white);
  }

  h5 {
    font-family: FedraSansLight;
    font-size: 18px;
    color: var(--white);
  }

  h6 {
    font-family: FedraSansLight;
    font-size: 16px;
  }

  p {
    font-family: Arial;
    font-size: 16px;
    color: #00343e;
    color: var(--dark-teal);
    white-space: pre-line;
  }

  a {
    font-family: FedraSansLight;
    font-size: 16px;
    color: #ffffff;
    color: var(--white);
  }

  a:hover {
    font-family: FedraSansLight;
    font-size: 16px;
    color: #ffffff;
    color: var(--white);
  }

  .f18 {
    font-size: 18px;
  }
}
